name: Github Actions Demo
on: 
  push:
    branches: [main]
    paths-ignore: [.github/**]
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:  
    inputs:
      environment:
        description: Deploy to
        type: environment
        required: true
      
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "triggered by: ${{ github.event_name }}"
      
      - uses: actions/checkout@v1
      
      - run: tree
  Test:
    runs-on: ubuntu-latest
    needs: Build
    if: github.event_name == 'workflow_dispatch'
    environment: Test
    steps:
      - run: echo '  test'
      
  Load-Test:
    runs-on: ubuntu-latest
    needs: Build
    if: github.event_name == 'workflow_dispatch'
    environment: Load-Test
    steps:
      - run: echo '  test'
      - run: sleep 15
  Production:
    runs-on: ubuntu-latest
    needs: [Test,Load-Test]
    if: github.event_name == 'workflow_dispatch'
    environment:
      name: Production
      url: https://writeabout.net
    steps:
      - run: |
          echo 'step 1 deploying'
          sleep 5
      - run: |
          echo 'step 2 deploying'
          sleep 5
      - run: |
          echo 'step 3 deploying'
          sleep 5
      - run: |
          echo 'step 4 deploying'
          sleep 5
      - run: |
          echo 'step 5 deploying'
          sleep 5

    
